[Unit]
Description=ADSBexchange GPS Monitor

[Service]
Type=simple
SyslogIdentifier=adsbexchange-gpsmon
ExecStart=/bin/bash /usr/local/share/adsbexchange-gpsmon/adsbexchange-gpsmon.sh
RuntimeDirectory=adsbexchange-gpsmon
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
User=root
Nice=19
IOSchedulingClass=idle


[Install]
WantedBy=multi-user.target
